@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #fafafa;
  --foreground: #0a0a0a;
}

.dark {
  --background: #121212;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  /* The layout.tsx sets the font-sans class which applies the inter font */
}

